<div class="footer">
	<div class="container">
    <table>
      <tr>
        <td>
          <a href="https://plrg-bristol.github.io/" target="_blank"><img src="assets/img/logo-acronym-only-trans.png" style="width:100px; float:left; margin:0 40px 0 0;" /></a>
        </td>
        <td>
           <p class="copy">
              Event sponsored by the Programming Languages Group, University of Bristol.<br/>
              Website theme derived from <a href="https://github.com/brianmaierjr/long-haul" target="_blank">Long Haul</a> by 
			<a href="http://brianmaierjr.com" target="_blank">Brian Maier Jr.
           </p> 
        </td>
      </tr>
    </table>
	</div>
</div>
<!-- end .footer -->